:root {
  --gray: gray;
  --yellow: #ffee00;
}

body {
  background: #1c2938;
  margin: 0;
}

section {
  margin-top: 50px;
}

.container {
  /* border: 1px solid white; */
  padding: 0;
}

.container-fluid {
  border: 1px solid red;
  background: white;
  color: black;
}

.group-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-------------------HEADER---------------------------*/
.icon-principal {
  font-size: 30px;
  margin: 0 10px;
  color: var(--yellow);
}

#header .brand-alex {
  font-size: 25px;
  font-weight: 900 !important;
}

.text-alex {
  color: var(--yellow) !important;
}

#main .carousel-inner img {
  max-height: 60vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

.titulo-carousel {
  color: white;
  font-weight: 700;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

/*------------------------------------------*/
.presentation-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 400px;

  align-items: center;

  overflow: hidden;
}

.presentation img {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 160px 10px;
}

.container-text-presentation {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "segoe", sans-serif;
  font-weight: 400;

  text-align: justify;
  justify-items: center;
  justify-content: center;
  justify-self: center;

  align-items: center;

  height: 50%;
  width: 90%;
}

.container-text-presentation .presentation-title {
  justify-self: left;
  margin-left: 25px;
}

.container-text-presentation .presentation-title {
}

.container-text-presentation p {
  width: 90%;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid var(--gray);
}

.container-text-presentation .social-icons {
  text-decoration: none !important;
  width: 50%;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  font-size: 50px;
  padding: 0.8em 0;
}

.social-icons a {
  text-decoration: none;
  color: var(--gray);
}

.social-icons i:hover {
  color: black;
  cursor: pointer;
  background: var(--yellow);
  border-radius: 100%;
  box-shadow: 0px 0px 10px 10px var(--yellow);
}

/*---------------------------------*/
.skills {
  margin-top: 50px;
  color: white;
  margin: 1px solid red;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.skill img {
  max-width: 250px;
  object-fit: fill;
  justify-self: center;
}

/*----------------------------------------------*/

.projects {
  /*background: #f5f5f5;*/
  color: white;
  margin: 0;
}

.projects .projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 38px;
  margin-bottom: 50px;
}

.project-card {
  width: 550px;
  background: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 37px 203px;
  grid-template-areas: "header header";

  background: white;
  color: black;
  border-radius: 20px 20px 20px 20px;
}

.project__name {
  color: white;
  display: flex;
  justify-content: space-between;
  grid-area: header;

  background: #3b3b3b;
  border-radius: 20px 20px 0 0;
  font-size: 17px;

  width: 100%;
}

.project__name .name-project {
  margin: auto;
  margin-left: 1.2em;
  font-weight: 400;
}

.project__name .ver-mas {
  margin: auto;
  color: var(--yellow);
  margin-right: 1.2em;
  cursor: pointer;
}

.project__name .ver-mas:hover {
  text-decoration-line: underline;
}

.project__img {
  width: 279px;
  height: 203px;
  object-fit: cover;
  border-radius: 0px 25px 25px 20px;
}

.project__description {
  width: 100;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
  justify-items: center;
  align-items: center;
}

.project__description .project__description__text {
  justify-self: center;
  padding: 20px;
  margin: 0;
}

.projects__button {
  max-width: 300px;
  display: flex;

  border-radius: 20px;
  justify-self: center;
  justify-content: center;
  border: 2px solid white;
  padding: 10px;
  color: white;
  margin: 20px auto;
  text-align: center;
}
/*----------------------------------------------*/
#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}
